* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #FFFFFF;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a, a:active, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

button {
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.header {
  position: relative;
}
.header.open .header_menu > span:first-child {
  transform: rotate(43deg);
}
.header.open .header_menu > span:nth-child(2) {
  opacity: 0;
}
.header.open .header_menu > span:last-child {
  transform: rotate(-43deg);
}
.header.open .header_mobile_menu {
  left: 0;
}
.header_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 64em) {
  .header_menu {
    display: none;
  }
}
.header_menu > span {
  width: 30px;
  height: 2.5px;
  background-color: #FFFFFF;
  border-radius: 1rem;
  transform-origin: 4.5px 1.5px;
}
.header_menu > span:first-child {
  margin-bottom: 5px;
}
.header_menu > span:last-child {
  margin-top: 5px;
}
.header_mobile_menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 7rem;
  padding-left: 6rem;
  width: 60vw;
  height: 100vh;
  background-color: rgba(14, 16, 13, 0.5647058824);
  backdrop-filter: blur(18px);
  top: 0;
  left: -100%;
  right: 0;
  overflow-y: hidden;
  z-index: 1;
  gap: 40px;
}
@media (min-width: 64em) {
  .header_mobile_menu {
    display: none;
  }
}
.header_mobile_menu a {
  font-weight: 400;
  font-size: 14px;
}
.header_logoLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
.header_logoLink a img {
  width: 30px;
  height: 30px;
  margin-left: 3.5rem;
}
@media (min-width: 64em) {
  .header_logoLink a img {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
}
.header_logoLink_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
@media (max-width: 63.9375em) {
  .header_logoLink_link {
    display: none;
  }
}
.header_logoLink_link a {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: rgb(186, 182, 182);
  transition: color 200ms ease-in-out;
}
.header_logoLink_link a:hover {
  color: #FFFFFF;
}
.header_logoLink_link a:hover::after {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  right: 0;
  left: 0;
  bottom: -20px;
  border-radius: 1rem;
  background-color: #00BA00;
  transition: color 200ms ease-in-out;
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-right: 18px;
  padding-left: 18px;
}
@media (min-width: 64em) {
  .header_nav {
    padding-top: 36px;
    padding-right: 100px;
    padding-left: 126px;
  }
}
.header_nav_mobileBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 110px;
  height: 26px;
  border-radius: 20px;
  background: #00BA00;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 64em) {
  .header_nav_mobileBtn {
    display: none;
  }
}
.header_nav_mobileBtn img {
  width: 16.5px;
  height: 16.5px;
}
.header_nav_mobileBtn p {
  font-weight: 500;
  font-size: 12px;
}
.header_nav_desktopBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  width: 220px;
  height: 50px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  gap: 10px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.header_nav_desktopBtn:hover {
  opacity: 0.8;
}
@media (max-width: 63.9375em) {
  .header_nav_desktopBtn {
    display: none;
  }
}
.header_nav_desktopBtn img {
  width: 24px;
  height: 24px;
}
.header_nav_desktopBtn p {
  font-weight: 600;
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-right: 35px;
  padding-left: 35px;
}
@media (min-width: 64em) {
  .hero {
    flex-direction: row;
    padding-top: 102px;
    padding-right: 240px;
    padding-left: 115px;
  }
}
.hero_texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 64em) {
  .hero_texts {
    align-items: flex-start !important;
    padding-right: 4rem;
  }
}
.hero_texts_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 64em) {
  .hero_texts_heading {
    align-items: flex-start;
  }
}
.hero_texts_heading p {
  font-size: 14px;
  font-family: "Hagrid Trial", sans-serif;
  margin-bottom: 0;
}
@media (min-width: 64em) {
  .hero_texts_heading p {
    font-size: 24px !important;
    margin-bottom: 6px;
  }
}
.hero_texts_heading h2 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Hagrid Trial", sans-serif;
  margin-top: 0;
}
@media (min-width: 64em) {
  .hero_texts_heading h2 {
    font-size: 48px;
  }
}
.hero_texts p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}
@media (min-width: 64em) {
  .hero_texts p {
    text-align: left;
    font-size: 20px;
    line-height: 37px;
  }
}
.hero_texts_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding: 4px 10px;
  width: 94px;
  height: 26px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  gap: 10px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.hero_texts_button:hover {
  opacity: 0.8;
}
@media (min-width: 64em) {
  .hero_texts_button {
    width: 160px;
    height: 55px;
  }
}
.hero_texts_button img {
  width: 12px;
  height: 12px;
}
@media (min-width: 64em) {
  .hero_texts_button img {
    width: 24px;
    height: 24px;
  }
}
.hero_texts_button p {
  font-weight: 500;
  font-size: 10px;
}
@media (min-width: 64em) {
  .hero_texts_button p {
    font-weight: 600;
    font-size: 16px;
  }
}
@media (min-width: 64em) {
  .hero_image img {
    width: 300px;
    height: 350px;
  }
}
@media (max-width: 63.9375em) {
  .hero_image img {
    display: none;
  }
}

.google img {
  width: 45px;
  height: 15px;
  margin-bottom: -5px;
}
@media (min-width: 64em) {
  .google img {
    width: 90px;
    height: 30px;
    margin-bottom: -8px;
  }
}

.meta img {
  width: 45px;
  height: 15px;
  margin-bottom: -4px;
}
@media (min-width: 64em) {
  .meta img {
    width: 90px;
    height: 30px;
    margin-bottom: -8px;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 48px;
  padding: 0 18px;
}
@media (min-width: 64em) {
  .skills {
    margin-top: 108px;
    margin-bottom: 132px;
    padding: 0 115px;
  }
}
.skills h2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Hagrid Trial", sans-serif;
  color: #F6AC00;
}
@media (min-width: 64em) {
  .skills h2 {
    font-size: 48px;
  }
}
.skills_web {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  gap: 22px;
}
@media (min-width: 64em) {
  .skills_web {
    flex-direction: row;
    gap: 74px;
  }
}
.skills_web img {
  width: 180px;
  height: 125px;
}
@media (min-width: 64em) {
  .skills_web img {
    width: 616px;
    height: 338px;
  }
}
.skills_web_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media (min-width: 64em) {
  .skills_web_text {
    gap: 60px;
  }
}
.skills_web_text_slider {
  position: relative;
  height: 11rem;
  width: 0.9rem;
  background-color: #0e100d;
  border-radius: 10px;
  margin-top: 1rem;
}
@media (min-width: 64em) {
  .skills_web_text_slider {
    height: 20rem;
    width: 1.2rem;
  }
}
.skills_web_text_slider::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 70%;
  background-color: #00BA00;
  border-radius: 5px;
}
.skills_web_text_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.skills_web_text_content p:first-child {
  font-size: 6px;
  font-family: "Hagrid Trial";
  margin: 0;
}
@media (min-width: 64em) {
  .skills_web_text_content p:first-child {
    font-size: 16px;
  }
}
.skills_web_text_content h3 {
  font-size: 16px;
  font-family: "Hagrid Trial";
  background: -webkit-linear-gradient(to right, #F6AC00, #00BA00);
  background: linear-gradient(to right, #F6AC00, #00BA00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media (min-width: 64em) {
  .skills_web_text_content h3 {
    font-size: 50px;
    line-height: 55px;
  }
}
.skills_web_text_content p {
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}
@media (min-width: 64em) {
  .skills_web_text_content p {
    font-size: 16px;
    line-height: 27px;
  }
}
.skills_web_text_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 110px;
  height: 26px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  margin-top: 0.5rem;
}
@media (min-width: 64em) {
  .skills_web_text_content button {
    width: 180px;
    height: 50px;
    font-weight: 600;
    gap: 10px;
  }
}
.skills_web_text_content button img {
  width: 13px;
  height: 13px;
  margin-right: 0;
}
@media (min-width: 64em) {
  .skills_web_text_content button img {
    width: 24px;
    height: 24px;
  }
}
.skills_web_text_content button p {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 64em) {
  .skills_web_text_content button p {
    font-size: 16px;
    line-height: 24px;
  }
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #0e100d;
  padding-right: 18px;
  padding-left: 10px;
  width: 100%;
  gap: 20px;
}
@media (min-width: 64em) {
  .divider {
    gap: 50px;
    height: 90px;
    padding-right: 30px;
    padding-left: 20px;
  }
}
.divider_tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
@media (min-width: 64em) {
  .divider_tool {
    gap: 100px;
  }
}
.divider_tool_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
@media (min-width: 64em) {
  .divider_tool_list {
    gap: 10px;
  }
}
.divider_tool_list img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
@media (min-width: 64em) {
  .divider_tool_list img {
    width: 40px;
    height: 40px;
  }
}
.divider_tool_list p {
  font-size: 8px;
  color: #3A3A3A;
  font-weight: 600;
}
@media (min-width: 64em) {
  .divider_tool_list p {
    font-size: 24px;
  }
}

.UX {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 48px;
  padding: 0 18px;
  gap: 22px;
}
@media (min-width: 64em) {
  .UX {
    flex-direction: row-reverse;
    gap: 106px;
    padding: 63px 115px;
  }
}
.UX img {
  width: 180px;
  height: 125px;
  margin-right: 0;
}
@media (min-width: 64em) {
  .UX img {
    width: 436px;
    height: 311px;
  }
}
.UX_text {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media (min-width: 64em) {
  .UX_text {
    gap: 60px;
    flex-direction: row;
  }
}
.UX_text_slider {
  position: relative;
  height: 11rem;
  width: 0.75rem;
  background-color: #0e100d;
  border-radius: 10px;
  margin-top: 1rem;
}
@media (min-width: 64em) {
  .UX_text_slider {
    height: 20rem;
    width: 0.9rem;
  }
}
.UX_text_slider::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 70%;
  background-color: #00BA00;
  border-radius: 5px;
}
.UX_text_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.UX_text_content p:first-child {
  font-size: 6px;
  font-family: "Hagrid Trial";
  margin: 0;
}
@media (min-width: 64em) {
  .UX_text_content p:first-child {
    font-size: 16px;
  }
}
.UX_text_content h3 {
  font-size: 16px;
  font-family: "Hagrid Trial";
  background: -webkit-linear-gradient(to right, #F6AC00, #00BA00);
  background: linear-gradient(to right, #F6AC00, #00BA00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media (min-width: 64em) {
  .UX_text_content h3 {
    font-size: 50px;
    line-height: 55px;
  }
}
.UX_text_content p {
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}
@media (min-width: 64em) {
  .UX_text_content p {
    font-size: 16px;
    line-height: 27px;
  }
}
.UX_text_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 110px;
  height: 26px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  margin-top: 0.5rem;
}
@media (min-width: 64em) {
  .UX_text_content button {
    width: 180px;
    height: 50px;
    font-weight: 600;
    gap: 10px;
  }
}
.UX_text_content button img {
  width: 13px;
  height: 13px;
}
@media (min-width: 64em) {
  .UX_text_content button img {
    width: 24px;
    height: 24px;
  }
}
.UX_text_content button p {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 64em) {
  .UX_text_content button p {
    font-size: 16px;
    line-height: 24px;
  }
}

.divider_tool_UX {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
@media (min-width: 64em) {
  .divider_tool_UX {
    gap: 30px;
  }
}
.divider_tool_UX img {
  width: 12px;
  height: 8px;
  cursor: pointer;
}
@media (min-width: 64em) {
  .divider_tool_UX img {
    width: 26px;
    height: 22px;
  }
}
.divider_tool_UX p {
  font-size: 8px;
  color: #3A3A3A;
  font-weight: 600;
}
@media (min-width: 64em) {
  .divider_tool_UX p {
    font-size: 24px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 18px;
  padding-left: 18px;
  gap: 30px;
}
@media (min-width: 64em) {
  .project {
    padding-top: 100px;
    padding-right: 115px;
    padding-left: 115px;
  }
}
.project_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 140px;
  height: 30px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  margin-top: 0.5rem;
}
@media (min-width: 64em) {
  .project_button {
    width: 228px;
    height: 55px;
    font-weight: 600;
    margin-top: 25px;
  }
}
.project_button img {
  width: 15px;
  height: 15px;
  border-radius: 0;
}
@media (min-width: 64em) {
  .project_button img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}
.project_button p {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 64em) {
  .project_button p {
    font-size: 16px;
    line-height: 24px;
  }
}
.project h2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Hagrid Trial", sans-serif;
  color: #F6AC00;
}
@media (min-width: 64em) {
  .project h2 {
    font-size: 48px;
  }
}
.project_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
@media (min-width: 64em) {
  .project_list {
    gap: 100px;
  }
}
.project_list_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 64em) {
  .project_list_details {
    flex-direction: row;
    gap: 80px;
  }
  .project_list_details:nth-child(2) {
    flex-direction: row-reverse;
  }
}
.project_list_details img {
  position: relative;
  width: 270px;
  height: 156px;
  border-radius: 8px;
}
@media (min-width: 64em) {
  .project_list_details img {
    width: 500px;
    height: 350px;
  }
}
.project_list_details img::before {
  position: absolute;
  content: "";
  left: 0;
  background: url("../images/project bg.png");
  z-index: 1;
}
.project_list_details_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.project_list_details_text h3 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Hagrid Trial";
}
@media (min-width: 64em) {
  .project_list_details_text h3 {
    font-size: 28px;
    margin-top: 0;
  }
}
.project_list_details_text p {
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}
@media (min-width: 64em) {
  .project_list_details_text p {
    font-size: 16px;
    line-height: 24px;
  }
}
.project_list_details_text_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (min-width: 64em) {
  .project_list_details_text_button {
    gap: 40px;
  }
}
.project_list_details_text_button a button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 110px;
  height: 26px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  margin-top: 0.5rem;
}
@media (min-width: 64em) {
  .project_list_details_text_button a button {
    width: 180px;
    height: 50px;
    font-weight: 600;
  }
}
.project_list_details_text_button a button img {
  width: 13px;
  height: 13px;
}
@media (min-width: 64em) {
  .project_list_details_text_button a button img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
}
.project_list_details_text_button a button p {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 64em) {
  .project_list_details_text_button a button p {
    font-size: 16px;
    line-height: 24px;
  }
}

#behance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 180px;
  height: 26px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  margin-top: 0.5rem;
}
@media (min-width: 64em) {
  #behance {
    width: 290px;
    height: 50px;
    font-weight: 600;
  }
}
#behance img {
  width: 15px;
  height: 10px;
  border-radius: 0;
}
@media (min-width: 64em) {
  #behance img {
    width: 20px;
    height: 18px;
    margin-right: 0.5rem;
  }
}
#behance p {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 64em) {
  #behance p {
    font-size: 16px;
    line-height: 24px;
  }
}

#yellow {
  width: 110px;
  background: #F6AC00;
}
@media (min-width: 64em) {
  #yellow {
    width: 200px;
  }
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 18px;
  padding-left: 18px;
  margin-bottom: 40px;
}
@media (min-width: 64em) {
  .blogs {
    padding-top: 100px;
    padding-right: 115px;
    padding-left: 115px;
    margin-bottom: 80px;
  }
}
.blogs h2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Hagrid Trial", sans-serif;
  color: #F6AC00;
}
@media (min-width: 64em) {
  .blogs h2 {
    font-size: 48px;
  }
}
.blogs h3 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Hagrid Trial";
}
@media (min-width: 64em) {
  .blogs h3 {
    font-size: 28px;
  }
}
.blogs_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (min-width: 64em) {
  .blogs_main {
    flex-direction: row;
    gap: 70px;
  }
}
.blogs_main img {
  width: 335px;
  height: 196px;
  border-radius: 5px;
}
@media (min-width: 64em) {
  .blogs_main img {
    width: 550px;
    height: 450px;
  }
}
.blogs_main_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media (min-width: 64em) {
  .blogs_main_text {
    align-items: flex-start;
  }
}
.blogs_main_text_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
@media (min-width: 64em) {
  .blogs_main_text_head {
    margin-top: -1rem;
  }
}
.blogs_main_text_head h4 {
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 64em) {
  .blogs_main_text_head h4 {
    font-size: 16px;
  }
}
.blogs_main_text_head div {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media (min-width: 64em) {
  .blogs_main_text_head div {
    width: 5px;
    height: 5px;
  }
}
.blogs_main_text_head p {
  font-weight: 400;
  font-size: 10px;
}
@media (min-width: 64em) {
  .blogs_main_text_head p {
    font-size: 16px;
  }
}
.blogs_main_text h3 {
  font-weight: 500;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  line-height: 26px;
  margin: 0;
}
@media (min-width: 64em) {
  .blogs_main_text h3 {
    font-size: 32px;
    line-height: 45px;
  }
}
.blogs_main_text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}
@media (min-width: 64em) {
  .blogs_main_text p {
    font-size: 18px;
    line-height: 27px;
  }
}
.blogs_main_text_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 64em) {
  .blogs_main_text_footer {
    margin-top: 15px;
  }
}
.blogs_main_text_footer_author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (min-width: 64em) {
  .blogs_main_text_footer_author {
    gap: 25px;
  }
}
.blogs_main_text_footer_author img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
@media (min-width: 64em) {
  .blogs_main_text_footer_author img {
    width: 50px;
    height: 50px;
  }
}
.blogs_main_text_footer_author_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.blogs_main_text_footer_author_text p:first-child {
  font-weight: 500;
  font-size: 10px;
  margin: 0;
}
@media (min-width: 64em) {
  .blogs_main_text_footer_author_text p:first-child {
    font-size: 16px;
  }
}
.blogs_main_text_footer_author_text p:last-child {
  font-weight: 400;
  font-size: 8px;
  margin: 0;
}
@media (min-width: 64em) {
  .blogs_main_text_footer_author_text p:last-child {
    font-size: 14px;
  }
}
.blogs_main_text_footer a button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 110px;
  height: 26px;
  background: #00BA00;
  color: #FFFFFF;
  border-radius: 50px;
  margin-top: 0.5rem;
}
@media (min-width: 64em) {
  .blogs_main_text_footer a button {
    width: 180px;
    height: 50px;
    font-weight: 600;
  }
}
.blogs_main_text_footer a button img {
  width: 13px;
  height: 13px;
}
@media (min-width: 64em) {
  .blogs_main_text_footer a button img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
}
.blogs_main_text_footer a button p {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 64em) {
  .blogs_main_text_footer a button p {
    font-size: 16px;
    line-height: 24px;
  }
}
.blogs_sub {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (min-width: 64em) {
  .blogs_sub {
    gap: 36px;
  }
}
.blogs_sub_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.blogs_sub_details_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
@media (min-width: 64em) {
  .blogs_sub_details_head {
    gap: 15px;
  }
}
.blogs_sub_details_head h4 {
  font-weight: 600;
  font-size: 8px;
}
@media (min-width: 64em) {
  .blogs_sub_details_head h4 {
    font-size: 16px;
  }
}
.blogs_sub_details_head div {
  width: 2px;
  height: 2px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media (min-width: 64em) {
  .blogs_sub_details_head div {
    width: 4px;
    height: 4px;
  }
}
.blogs_sub_details_head p {
  font-weight: 400;
  font-size: 8px;
}
@media (min-width: 64em) {
  .blogs_sub_details_head p {
    font-size: 14px;
  }
}
.blogs_sub_details_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.blogs_sub_details_text img {
  width: 156px;
  height: 90px;
  border-radius: 3px;
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  .blogs_sub_details_text img {
    width: 319px;
    height: 200px;
    margin-bottom: 20px;
  }
}
.blogs_sub_details_text a {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  cursor: pointer;
}
.blogs_sub_details_text a:hover {
  color: #F6AC00;
}
@media (min-width: 64em) {
  .blogs_sub_details_text a {
    font-size: 18px;
    line-height: 28px;
  }
}
.blogs_sub_details_text p {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: justify;
  color: #FFFFFF;
}
@media (min-width: 64em) {
  .blogs_sub_details_text p {
    font-size: 16px;
    line-height: 26px;
  }
}

.blog_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
}
@media (min-width: 64em) {
  .blog_button {
    margin-bottom: 150px;
  }
}
.blog_button a button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding: 4px 10px;
  width: 158px;
  height: 40px;
  background: #F6AC00;
  color: #FFFFFF;
  border-radius: 50px;
  gap: 10px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.blog_button a button:hover {
  opacity: 0.8;
}
@media (min-width: 64em) {
  .blog_button a button {
    width: 245px;
    height: 65px;
  }
}
.blog_button a button img {
  width: 12px;
  height: 12px;
}
@media (min-width: 64em) {
  .blog_button a button img {
    width: 24px;
    height: 24px;
  }
}
.blog_button a button p {
  font-weight: 500;
  font-size: 12px;
}
@media (min-width: 64em) {
  .blog_button a button p {
    font-weight: 600;
    font-size: 16px;
  }
}

@media (max-width: 63.9375em) {
  .hide_for_mobile {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3A3A3A;
  width: auto;
  height: 80px;
}
@media (min-width: 64em) {
  .footer {
    height: 200px;
  }
}
.footer_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.footer_link a img {
  width: 22px;
  height: 22px;
}
@media (min-width: 64em) {
  .footer_link a img {
    width: 45px;
    height: 45px;
  }
}
.footer p {
  font-family: "Hagrid Trial";
  font-weight: 400;
  font-size: 8px;
}
@media (min-width: 64em) {
  .footer p {
    font-size: 20px;
  }
}