* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $white;
  background-color: $black;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a, a:active, a:visited {
  color: $white;
  text-decoration: none;
}

button {
  font-family: 'Poppins', sans-serif;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}