.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 18px;
  padding-left: 18px;
  gap: 30px;

  @include breakpoint-up(large){
    padding-top: 100px;
    padding-right: 115px;
    padding-left: 115px;
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 140px;
    height: 30px;
    background: $green;
    color: $white;
    border-radius: 50px;
    margin-top: 0.5rem;
    
    @include breakpoint-up(large){
      width: 228px;
      height: 55px;
      font-weight: 600;
      margin-top: 25px;
    }
    
    img {
      width: 15px;
      height: 15px;
      border-radius: 0;
    
      @include breakpoint-up(large){
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
      }
    }
    
    p {
      font-size: 10px;
      font-weight: 500;
    
      @include breakpoint-up(large){
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  h2 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Hagrid Trial', sans-serif;
    color: $yellow;

    @include breakpoint-up(large){
      font-size: 48px;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @include breakpoint-up(large){
      gap: 100px;
    }

    &_details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      @include breakpoint-up(large){
        flex-direction: row;
        gap: 80px;

        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }
  
      img {
        position: relative;
        width: 270px;
        height: 156px;
        border-radius: 8px;

        @include breakpoint-up(large){
          width: 500px;
          height: 350px;
        }
  
        &::before {
          position: absolute;
          content: "";
          left: 0;
          background: url('../images/project bg.png');
          z-index: 1;
        }
      }
  
      &_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
  
        h3 {
          font-size: 14px;
          font-weight: 400;
          font-family: 'Hagrid Trial';

          @include breakpoint-up(large){
            font-size: 28px;
            margin-top: 0;
          }
        }
  
        p{
          font-size: 12px;
          line-height: 18px;
          text-align: justify;

          @include breakpoint-up(large){
            font-size: 16px;
            line-height: 24px;
          }
        }
  
        &_button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          @include breakpoint-up(large){
            gap: 40px;
          }
  
          a {

            button {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
              width: 110px;
              height: 26px;
              background: $green;
              color: $white;
              border-radius: 50px;
              margin-top: 0.5rem;
    
              @include breakpoint-up(large){
                width: 180px;
                height: 50px;
                font-weight: 600;
              }
    
              img {
                width: 13px;
                height: 13px;
    
                @include breakpoint-up(large){
                  width: 24px;
                  height: 24px;
                  margin-right: 0.5rem;
                }
              }
    
              p {
                font-size: 10px;
                font-weight: 500;
    
                @include breakpoint-up(large){
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#behance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 180px;
  height: 26px;
  background: $green;
  color: $white;
  border-radius: 50px;
  margin-top: 0.5rem;
  
  @include breakpoint-up(large){
    width: 290px;
    height: 50px;
    font-weight: 600;
  }
  
  img {
    width: 15px;
    height: 10px;
    border-radius: 0;
  
    @include breakpoint-up(large){
      width: 20px;
      height: 18px;
      margin-right: 0.5rem;
    }
  }
  
  p {
    font-size: 10px;
    font-weight: 500;
  
    @include breakpoint-up(large){
      font-size: 16px;
      line-height: 24px;
    }
  }      
}


#yellow {
  width: 110px;
  background: $yellow;

  @include breakpoint-up(large){
      width: 200px;
  }
}